/* height */

@media (min-height: 1200px) {
  .grid-item-content {
    height: 279px;
  }
  .grid-item-content--height2 {
    height: 564px;
  }
}
/* width */

@media (max-width: 1200px) {
  .navbar-form .form-group input {
    width: 279px;
  }
  .grid-item-content {
    height: 229px;
  }
  .grid-item-content--height2 {
    height: 464px;
  }
  .box1 h1 {
    line-height: 229px;
  }
}

@media (max-width: 1199px) {
  .navbar-form .form-group input {
    width: 229px;
  }
}

@media (max-width: 991px) {
  .navbar-form .form-group input {
    width: 234px;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group input {
    margin: 0 auto;
    width: 70%;
  }
  .logo-mob {
    display: inline-block;
  }
    .grid-item-content {
    height: 100%;
  }
  .grid-item-content--height2 {
    height: 731px;
  }
  #main-menu{
    display: block!important;
  }
}

@media (min-width: 768px) {
  .logo-mob {
    display: none;
  }
  .bs-example-navbar-collapse-1{
    width: 50px!important;
  }
  #main-menu{
    display: inline-block!important;
  }
  .navbar-collapse.collapse{
    height: 50px!important;
  }
}
