* {
  outline: none;
}
body {
  background-color: #444;
  font-family: 'Julius Sans One', sans-serif;
}

a {
  color: #68B942;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.box1 {
  background-color: #68B942!important;
}

.box1 h1 {
  color: #555;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 279px;
}

.box2 {}

.box2 h2 {
  margin: 0;
  padding: 10% 5%;
  font-family: 'Julius Sans One', sans-serif;
  color: #8e8e8e;
  letter-spacing: 2px;
  font-size: 2.5em;
}

.box33 {
  text-align: center;
  padding-top: 25%;
}
.box33 i{
  font-size: 2.4em;
  color: #68B942;
}

.box2,
.box3,
.box4,
.box5,
.box6,
.box8,
.box9,
.box10,
.box11,
.box12,
.box13,
.box14,
.box15,
.box16,
.box17,
.box18,
.box19,
.box20,
.box21,
.box22,
.box23,
.box25,
.box26,
.box27,
.box30,
.box31,
.box32 {
  overflow: hidden;
}

.box7,
.box8,
.box16,
.box19,
.box24,
.box28 {
  color: #b1b1b1;
  font-size: 1.3em;
  padding: 10% 5%;
}

.screen-reader-text {
  display: none;
}

/* overlay */
.overlay-post{
  position: absolute;
  background: url(../img/overlay-post.png) no-repeat;
  width: 50px;
  height: 50px;
  right: 0;
}
.overlay-photo{
  position: absolute;
  background: url(../img/overlay-image.png) no-repeat;
  width: 50px;
  height: 50px;
  right: 0;
}
.overlay-video{
  position: absolute;
  background: url(../img/overlay-video.png) no-repeat;
  width: 50px;
  height: 50px;
  right: 0;
}
/* single-page */
.single-page{
  margin: 10% 5% 0 5%;
  margin-bottom: 30px;
  font-size: 1.2em;
}
.single-page img{
  width: 100%;
  height: auto;
  padding: 15px 0;
}
.single-page h1{
  margin: 0 0 25px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
}

.post-navigation {
  padding-bottom: 50px;
  border-bottom: 1px dotted #8e8e8e;
}

.entry-meta{
  padding-bottom: 15px;
}
.entry-meta .author {
  float: none;
}
.nav-previous {
  display: inline-block;
}
.nav-next {
  display: inline-block;
  float: right;
}
.entry-footer {
  padding: 30px 0;
}
.navigation .post-navigation h2{
  display: none;
}
  /* blog page*/

.blog-page {
  background-color: #666;
  color: #8e8e8e;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin: 6px 18px 0;
}

.blog-page h2 {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  margin: 0  0 15px;
}

.content {
  margin: 10% 5% 0 5%;
  margin-bottom: 30px;
  font-size: 1.2em;
}
.content img{
  margin-bottom: 20px;
}
.info {
  display: block;
  color: #fff;
  margin-bottom: 30px;
  padding: 50px 0 30px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: .6em;
  border-bottom: 1px dotted #8e8e8e;
}
.info a{
  color: #fff;
}
.date, .author, .categories, .comments{
  float: left;
  padding-right: 40px;
}

/* contacts page */
.contacts-page {
  background-color: #666;
  color: #8e8e8e;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: 6px 18px;
  padding: calc(5% - 15px);
}
.entry-header h1{
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  margin: 0 0 15px;
  padding-left: 15px;
}

/* search result page */
.result-page {
  display: inline-block;
  margin: 6px 18px;
  color: #8e8e8e;
  background-color: #666;
}
.result-page h1{
  color: #fff;
}
.result-content {
  padding: 5%;
}

/* comments area */
.comments-area img{
  width: 45px;
  height: auto;
}
.comments-title {
  margin: 50px 0 20px;

}
.comment-reply-title {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
}
.comment-form textarea{
  padding: 12px;
  width: 99%;
  background-color: #555;
  border: 1px solid #666;
  font-size: .8em;
}
#email, #author {
  width: 99%;
  padding: 12px;
  background-color: #555;
  border: 1px solid #666;
  font-size: .8em;
}
.comment-btn {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  background-color: #777;
  border: 1px solid #666;
  padding: 10px 20px;
  font-size: .9em;
}
.commentlist {
  padding: 0;
  margin: 60px 0;
  list-style-type: none;
}
.commentlist img{
  width: 32px;
  height: auto;
}
.commentlist ul {
  list-style-type: none;
}
.comment-metadata a{
  font-size: .6em;
}
.excerpt a{
  font-family: 'Julius Sans One', sans-serif;
  font-size: .8em;
}

/* archive page */
.archive-page {
  background-color: #666;
  color: #fff;
  margin: 6px 18px;
  padding: 5%;
}
.archive-box{
  background-color: #696969!important;
  padding: 5px;
}
.arc-read-more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .6em;
  color: #fff;
}
/* about page */
.about-page{
  background-color: #666;
  margin: 6px 18px;
  padding: 5%;
  color: #8e8e8e;
}
.about-page h1 {
  margin: 0;
  padding-bottom: 20px;
  color: #fff;
}



/* widget */
.widget-area {
  padding: 10% 5%;
}
.widget-area h2{
  margin: 40px 0 10px;
}
.widget-area ul{
  list-style-type: none;
  padding: 0;
  line-height: 25px;
}

/* footer */

.top-foo {
  display: inline-block;
  background-color: #666;
  margin: 0 18px;
}

.bottom-foo {
  background-color: #555;
  margin: -7px 18px 0;
}

.bottom-foo p {
  color: #737373;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.about-foo,
.menu-foo,
.widget-foo,
.social-foo {
  padding: 10% 15%;
  color: #8e8e8e;
}

.about-foo h3,
.menu-foo h3,
.widget-foo h3,
.social-foo h3 {
  color: #fff;
  padding-bottom: 20px;
}

.menu-foo ul {
  padding: 0;
}

.menu-foo li {
  list-style-type: none;
  padding-bottom: 15px;
}

.social-foo ul {}

.social-foo li {
  list-style-type: none;
  float: left;
  padding-right: 20px;
}


/*   back on top */

#back-top {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 18px 18px;
}

#back-top a {
  font-size: 2em;
  padding: 6px 12px;
  background-color: #666;
  color: #fff;
}
#back-top a:hover{
  background-color: #68B942;
}

.logo-mob{
  background-color: #68B942;
  margin-left: 18px;
  margin-top: 4px;
}
.logo-mob a h1{
  font-size: 2em;
  margin: 0;
  padding: 9px 2px;
  color: #8e8e8e;
}

#main-menu{
  display: inline-block!important;
}
.right-nav {
  float: right;
  display: inline;
}
.socian-header {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.socian-header li{
  float: left;
  padding: 15px;
}
.socian-header li a{
  color: #fff;
}
.navbar-form{
  float: right;
}
.navbar-form .form-group input {
  padding: 20px;
  width: 280px;
  border: none;
  margin: 0;
  height: 50px;
  border-radius: 0;
  background-color: #777;
  margin-right: -3px;
}
.bs-example-navbar-collapse-1 {
  height: 50px;
}


.field-textarea textarea{
  width: 100%;
}
.contact-form form imput[type="submit"]{
  border: 1px solid #000;
}
